@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: rgb(230, 236, 237);
    overflow-x: hidden;
}

.Banner {
    /* background: url('./bgimage.jpg'); */
    height: 60vh;
    width: 100%;
    /* object-fit: cover; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin-top: 5px;
    margin-left: 1%;
}

#bannerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-top: -14%; */
}

@media (max-width: 768px) {
    .Banner {
        flex-direction: column;
        height: auto;
    }
}
    

#bannerContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-top: -14%; */
}