@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #e7dae7;
    overflow-x: hidden;
}

.Banner {
    /* background: url('./bgimage.jpg'); */
    height: 60vh;
    width: 100%;
    /* object-fit: cover; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin-top: 5px;
    margin-left: 1%;
}

#bannerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-top: -14%; */
}

@media (max-width: 768px) {
    .Banner {
        flex-direction: column;
        height: auto;
    }
}
    

#bannerContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-top: -14%; */
}

.marketData {
  align-self: start;
  padding: 25px;
  padding-top: 10px;
  width: 100%;

  /* Media query for screens equal to or less than the medium breakpoint (md) */
  @media (max-width: 768px) {
    display: flex;
    justify-content: space-around;
  }

  /* Media query for screens equal to or less than the small breakpoint (sm) */
  @media (max-width: 576px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  /* Media query for screens equal to or less than the extra small breakpoint (xs) */
  @media (max-width: 375px) {
    display: flex;
    align-items: flex-start;
  }
}
